# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
i
# C extensions
*.so
.DS_Store

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.idea/
experimentation.py
*.pt
*.png
lib/
results/
plots*/
lib64/
parts/
sample/
checkpoint/
sdist/
var/
wandb/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.py~
MANIFEST

*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
!tests/fixtures/models/llama2_tiny_multimodal_clip_mlp/projections/modality_adapters.pt

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

train_output/

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
default_tb/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

./data/
.sa-key
.checkpoints/.history
.history
.vscode

data/
bin/
presets/