{%- set replica_start = ['<|start_header_id|>'] -%}
{%- set replica_end = ['<|eot_id|>'] -%}
{{- '<|begin_of_text|>' -}}

{%- for message in messages -%}
    {%- if (message['role'] != 'bot') %}
        {{- '<|start_header_id|>' + message['role'] + '<|end_header_id|>\n\n' + message['content'] + '<|eot_id|>' -}}
    {%- elif (message['role'] == 'bot') %}
        {{- '<|start_header_id|>' + message['role'] + '<|end_header_id|>\n\n' -}}
        {%- generation %}
            {{- message['content'] + '<|eot_id|>' -}}
        {%- endgeneration %}
    {%- endif -%}
{%- endfor -%}

{%- if add_generation_prompt -%}
    {{- '<|start_header_id|>' + 'bot' + '<|end_header_id|>\n\n' -}}
{%- endif -%}